<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Github User Searcher</h2>
  <p>
    Use this app to search for Github users by username.
  </p>
  <p>
    This app utilizes the <a href="https://developer.github.com/v3/users/">Github API</a>.
  </p>

  <div *ngIf="users">
    <ul *ngFor="let user of users">
      <li (click)="viewProfile(user)"><img src={{user.avatar_url}} width="50px" height="50px">{{user.login}}</li>
    </ul>
  </div>
</ion-content>
