<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 text-center>Github User Searcher</h1>
  <p text-center>
    Use this app to search for Github users by login name, utilizing the <a href="https://developer.github.com/v3/users/">Github API</a>.
  </p>  

  <div *ngIf="users">
    <ion-list *ngFor="let user of users">
      <ion-item (click)="viewProfile(user.login)">
        <ion-thumbnail item-left>
          <img src={{user.avatar_url}}>
        </ion-thumbnail>
         <strong>{{user.login}}</strong>
         <ion-icon name="ios-arrow-forward" item-right></ion-icon>
      </ion-item>
    </ion-list>

    <button (click)="appendLastUser()">See More</button>
  </div>
</ion-content>
