<ion-header>

  <ion-navbar>
    <ion-title *ngIf="hasUser()">User Profile for {{user.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form (ngSubmit)="setUser(formInput.value)">
      <ion-grid>
        <ion-row>
          <ion-col col-10>
            <ion-input type="text" placeholder="Enter Github username" name="username" [(ngModel)]="username" #formInput required></ion-input>
          </ion-col>
          <ion-col col-2>
            <ion-buttons>
              <button ion-button icon-only block>
                <ion-icon name="search"></ion-icon>
              </button>
          </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
  </form>
  
  <div *ngIf="hasUser()">
    <ion-card>
      <img src={{user.avatar_url}}>
      <ion-card-content>
        <ion-card-title text-center>{{user.name}}</ion-card-title>
        <ion-item>
          Public Repos: <ion-badge color="dark" item-right>{{user.public_repos}}</ion-badge>
        </ion-item>
        <ion-item>
          Followers: <ion-badge color="secondary" item-right>{{user.followers}}</ion-badge>
        </ion-item>
        <ion-item>
          Following: <ion-badge item-right>{{user.following}}</ion-badge>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <div padding>
      <h4>Profile Info:</h4>
      <p *ngIf="user.bio"><strong>Bio: </strong>{{user.bio}}</p>
      <p *ngIf="user.company"><strong>Company: </strong>{{user.company}}</p>
      <p *ngIf="user.location"><strong>Location: </strong>{{user.location}}</p>
      <p *ngIf="user.blog"><strong>Website/Blog: </strong>{{user.blog}}</p>
    </div>
  </div>
</ion-content>
